    /*HEADER*/
    @media (max-width: 640px) {
        .material-symbols-outlined {
            display: none;
            visibility: hidden;
        }
        .btn2 {
            display: flex;
            visibility: visible;
            position: fixed;
            bottom: 11vh;
            right: 0;
            z-index: 5000;
            margin: 5vh;
            color: map-get($colores , headerHover );
            background-color: rgb(14, 14, 14);
            padding: 0.65vh;
            border-radius: 23%;
            filter: drop-shadow(2px 2px 3px rgb(0, 0, 0));
        }
        #headerOP {
            visibility: visible;
            display: grid;
            grid-template-rows: $grid1;
            height: 10vh;
            padding: 1vh;
            background-color: rgba(0, 0, 0, 0.422);
            gap: 1vh;
            & .header__nameOP {
                h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 4vh;
                    a {
                        text-decoration: none;
                        color:map-get($colores, header);
                    }
                    a:hover {
                        color:map-get($colores , headerHover) ;
                    }
                }
            }
            & .header__menuOP{
                ul {
                    display: flex;
                    justify-content: center;
                    gap: 3vh;
                    list-style: none;
                    font-size: small;
                    a {
                        text-decoration: none;
                        color: map-get($colores, header );
                    }
                    a:hover {
                        color: map-get($colores, headerHover );
                    }
                }
            }
        }
        #hedaerOP0 {
            visibility: visible;
            display: grid;
            grid-template-rows: $grid1;
            height: 10vh;
            padding: 1vh;
            background-color: rgba(0, 0, 0, 0.422);
            gap: 1vh;
            & .header__name {
                display: flex;
                justify-content: center;
                img{
                    height: 10vh;
                    transition: 0.28s;
                }
                img:hover{
                    filter: drop-shadow(3px 3px 5px white);
                }
            }
            & .header__menu ul{
                display: flex;
                justify-content: center;
                gap: 3vh;
                list-style: none;
                font-size: small;
                a{
                    text-decoration: none;
                    color: map-get($colores , header );
                }
                a:hover{
                    color: map-get($colores , headerHover );
                }
            }
        }
        #header {
            visibility: hidden;
            display: none;
        }
        #header0 {
            visibility: hidden;
            display: none;
        }
    }
/*HEADER*/
.logo {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.57)), url(../../Image/fondo.jpg);
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
        attachment: fixed;
    }
    position: relative;
    height: 100vh;
    width: 100%;
}
#headerOP {
    visibility: hidden;
    display: none;
}
#headerOP0 {
    visibility: hidden;
    display: none;
}
#header {
    display: grid;
    grid-template-areas: 
    "Menu RETRODRINK Ubicación"
    "Contacto RETRODRINK Comentanos";
    height: 10vh;
    padding: 15px 80px;
    background-color: rgba(0, 0, 0, 0.278);

    & .header__menu1 {
        display: flex;
        justify-content: start;
        ul {
            list-style: none;
            a{
                text-decoration: none;
                color: map-get($colores , header );
                :hover {
                    color:map-get($colores , headerHover );   
                }  
            }
        }
    }
    & .header__menu2 {
        display: flex;
        justify-content: end;
        ul {
            list-style: none;
            a{
                text-decoration: none;
                color: map-get($colores , header );
                    :hover{
                        color: map-get($colores , headerHover );
                    }
            }
        }
    }
    & .header__name {
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            color: map-get($colores , header ); 
            :hover{
                color: map-get($colores , headerHover );
            }
        }
    }
}
#header0 {
    display: grid;
    grid-template-areas: 
    "Menu Logo Ubicación"
    "Contacto Logo Comentanos";
    height: 10vh;
    padding: 15px 80px;
    background-color: map-get($colores , bgHeader );
    & .header__name0 {
        display: flex;
        justify-content: center;
        img {
            height: 10vh;
            transition: 0.28s;
        }
        :hover {
            filter: drop-shadow(3px 3px 5px white);
        }
        }
    & .header__menu1 {
        display: flex;
        justify-content: start;
        ul {
            list-style: none;
            a{
                text-decoration: none;
                color: map-get($colores , header );
                :hover {
                    color: map-get($colores , headerHover );
                }   
            }
        }
    }
    & .header__menu2 {
        display: flex;
        justify-content: end;
        ul {
            list-style: none;
            a{
                text-decoration: none;
                color: map-get($colores , header );
            }
            :hover{
                color: map-get($colores , headerHover );
            }
            }
        }
    }