@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.btn2 {
  display: none;
  visibility: hidden;
}

.material-symbols-outlined {
  position: fixed;
  bottom: 11vh;
  right: 0;
  z-index: 5000;
  margin: 5vh;
  color: white;
  background-color: rgb(14, 14, 14);
  padding: 0.65vh;
  border-radius: 23%;
  filter: drop-shadow(2px 2px 3px rgb(0, 0, 0));
}
.material-symbols-outlined:hover {
  filter: drop-shadow(2px 2px 3px rgb(255, 0, 102));
  transition: 0.35s;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-search-decoration {
  background-color: black;
}

body::-webkit-scrollbar {
  width: 2vh;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(125, 0, 139), rgba(138, 5, 87, 0.895)), rgba(0, 0, 0, 0.605);
  border-radius: 3%;
}

/*HEADER*/
.logo {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.57)), url(../../Image/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100%;
}

#headerOP {
  visibility: hidden;
  display: none;
}

#headerOP0 {
  visibility: hidden;
  display: none;
}

#header {
  display: grid;
  grid-template-areas: "Menu RETRODRINK Ubicación" "Contacto RETRODRINK Comentanos";
  height: 10vh;
  padding: 15px 80px;
  background-color: rgba(0, 0, 0, 0.278);
}
#header .header__menu1 {
  display: flex;
  justify-content: start;
}
#header .header__menu1 ul {
  list-style: none;
}
#header .header__menu1 ul a {
  text-decoration: none;
  color: rgb(201, 201, 201);
}
#header .header__menu1 ul a :hover {
  color: white;
}
#header .header__menu2 {
  display: flex;
  justify-content: end;
}
#header .header__menu2 ul {
  list-style: none;
}
#header .header__menu2 ul a {
  text-decoration: none;
  color: rgb(201, 201, 201);
}
#header .header__menu2 ul a :hover {
  color: white;
}
#header .header__name {
  display: flex;
  justify-content: center;
}
#header .header__name a {
  text-decoration: none;
  color: rgb(201, 201, 201);
}
#header .header__name a :hover {
  color: white;
}

#header0 {
  display: grid;
  grid-template-areas: "Menu Logo Ubicación" "Contacto Logo Comentanos";
  height: 10vh;
  padding: 15px 80px;
  background-color: rgba(0, 0, 0, 0.278);
}
#header0 .header__name0 img {
  height: 10vh;
  transition: 0.28s;
}
#header0 .header__name0 img :hover {
  filter: drop-shadow(3px 3px 5px white);
}
#header0 .header__menu1 {
  display: flex;
  justify-content: start;
}
#header0 .header__menu1 ul {
  list-style: none;
}
#header0 .header__menu1 ul a {
  text-decoration: none;
  color: rgb(201, 201, 201);
}
#header0 .header__menu1 ul a :hover {
  color: white;
}
#header0 .header__menu2 {
  display: flex;
  justify-content: end;
}
#header0 .header__menu2 ul {
  list-style: none;
}
#header0 .header__menu2 ul a {
  text-decoration: none;
  color: rgb(201, 201, 201);
}
#header0 .header__menu2 ul a :hover {
  color: white;
}

/*INICIO*/
#main {
  display: flex;
  flex-direction: column;
}
#main .main__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main__logo img {
  height: 35vh;
  padding-top: 20vh;
  transition: 0.5s;
}
#main .main__logo img :hover {
  filter: drop-shadow(7px 7px 10px white);
  transition: 0.5s;
}
#main .main__wave {
  bottom: 0;
  width: 100%;
  position: absolute;
}

.color {
  background: linear-gradient(rgb(0, 0, 0), rgb(170, 14, 110)), rgba(128, 128, 128, 0.705);
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20vh 35vh;
}
#menu .menu__comida {
  display: flex;
  justify-content: start;
  filter: drop-shadow(7px 7px 10px black);
}
#menu .menu__comida a img {
  height: 85vh;
  border-radius: 5%;
  transition: all 0.4s;
}
#menu .menu__comida a img :hover {
  filter: drop-shadow(7px 7px 10px rgb(255, 0, 102));
  transform: scale(1.1);
}
#menu .menu__bebida {
  display: flex;
  justify-content: end;
  filter: drop-shadow(7px 7px 10px black);
}
#menu .menu__bebida a img {
  height: 85vh;
  border-radius: 5%;
  transition: all 0.4s;
}
#menu .menu__bebida a img :hover {
  filter: drop-shadow(7px 7px 10px rgb(255, 0, 102));
  transform: scale(1.1);
}

/*FOOTER*/
#contacto {
  background-color: rgba(0, 0, 0, 0.278);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1vh;
  padding: 1vh 4vh;
  color: rgb(201, 201, 201);
  bottom: 0;
}
#contacto .contacto__titulo {
  font-size: 21.5px;
}
#contacto .contacto__redes ul {
  list-style: none;
}
#contacto .contacto__redes ul a {
  text-decoration: none;
  color: rgb(201, 201, 201);
}
#contacto .contacto__redes ul a :hover {
  color: white;
}/*# sourceMappingURL=main.css.map */